[submodule "skills/名人传记/yupi-skill"]
	path = skills/名人传记/yupi-skill
	url = https://github.com/liyupi/yupi-skill.git
[submodule "skills/名人传记/mao-zedong-perspective"]
	path = skills/名人传记/mao-zedong-perspective
	url = https://github.com/leezythu/maoxuan-skill.git
[submodule "skills/知识管理/notebooklm-skill"]
	path = skills/知识管理/notebooklm-skill
	url = https://github.com/PleasePrompto/notebooklm-skill.git
[submodule "skills/名人传记/qiqing-liuyu"]
	path = skills/名人传记/qiqing-liuyu
	url = https://github.com/Lniosy/qiqing-liuyu.git
[submodule "skills/图形处理/fireworks-tech-graph"]
	path = skills/图形处理/fireworks-tech-graph
	url = https://github.com/yizhiyanhua-ai/fireworks-tech-graph
[submodule "skills/名人传记/colleague-skill"]
	path = skills/名人传记/colleague-skill
	url = https://github.com/titanwings/colleague-skill.git
[submodule "skills/创业与商业/极简主义创业之旅"]
	path = skills/创业与商业/极简主义创业之旅
	url = https://github.com/slavingia/skills.git
[submodule "skills/程序员_开发/开发工作流/verification-before-completion"]
	path = skills/程序员_开发/开发工作流/verification-before-completion
	url = https://github.com/Charpup/verification-before-completion.git
[submodule "skills/知识管理/obsidian-skills"]
	path = skills/知识管理/obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
